/ExtendingByThreadClass.class
/ImimentingUsingRunnableInterface.class
/ImplementMultithreadingUsingJava8.class
/MainRunnableInterfaceCalss.class
/MainThread.class
/MainThreadClass.class
/MyThread.class
/MyThread2.class
/SynchronizationThread.class
/ThreadWithDifferntFunction.class
